<div>
    <div> 
    {{book.title}}
       {{title}}
    </div>
    <div> 
        {{review_content}}
        <br>
        <div>
           By {{user.username}} on {{format_date created_at}}
            |
           <a href="/review/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
  </div>